body {
    font-size: medium;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

header {
    padding: 1em;
    height: 3.5em;
    background-color: #ffcc00;
}

header h1 {
    margin: 0;
    float: left;
    margin-right: 1em;
}

form {
    float: left;
}

form .row {
    float: left;
    clear: left;
}

input {
    font-size: 1.5em;
}

section {
    display: block;
    height: 90%;
    background-color: white;
    padding: 1em;
}

.member {
    float: left;
    margin-right: 1em;
    width: 20em;
    border: 1px solid #666;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}
.member h2 {
    margin: 0 auto;
}

/* Member details table */
th {
    text-align: left;
    padding-right: 1em;
}
